@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: rgb(22, 22, 22);
}

h1 {
    font-family: "Roboto";
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: rgb(237, 236, 236);
    background-color: rgba(65, 65, 65, 0.488);
    border-radius: 10px;
    padding: 8px;
    max-width: 500px;
    margin-top: 2%;
}

#ytLogo {
    display: block;
    width: 150px;
    margin: auto;
    height: auto;
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 1%;
}

#mainGrid {
    display: grid;
    grid-template-rows: 1fr 100px 1fr 100px;
    grid-template-columns: repeat(5, 1fr);
    gap: 5%;
    margin-top: 40px;
}

.gridParent {
    grid-column: 3/4;
    background-color: rgba(65, 65, 65, 0.488);
    width: 300px;
    height: 200px;
    display: grid;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

#hidingSettings {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
    height: 150px;
}

#timeoutSettings {
    grid-row: 3/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.gChild {
    margin: auto;
    font-family: "Roboto";
    font-weight: 200;
    text-align: center;
    color: rgb(237, 236, 236);
    font-size: 1.1rem;
}

.YTcomments {
    grid-row-start: 2;
}

#enableTimeout {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: rgba(65, 65, 65, 0.488);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#timeInput {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 1.5rem;
    width: 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 7px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#submitTime {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: auto;
    height: 1.5rem;
    background-color: grey;
    color: black;
    margin-left: 50px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 2s;
}

#submitTime:hover {
    background-color: rgb(184, 184, 184);
}

#submitTime:active {
    background-color: rgb(82, 82, 82);
}


#videos {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#videosToggle {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#shortsToggle {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.toggle {
    width: 30px;
    height: 30px;
}

#shorts {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#currentTime {
    margin-top: 7px;
    color: rgb(183, 182, 182);
    font-size: 1rem;
}

a {
    text-decoration: none;
}

#breakSettings {
    background-color: rgba(255, 255, 255, 0.875);
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 1rem;
    width: 200px;
    color: black;
    box-shadow: 2px 2px 2px 2px black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: background-color 0.2s;
}

#breakSettings:hover {
    background-color: rgb(116, 116, 116);
}