@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: rgb(22, 22, 22);
}

h1 {
    font-family: "Roboto";
    font-weight: 900;
    margin: auto;
    text-align: center;
    color: rgb(237, 236, 236);
    background-color: rgba(65, 65, 65, 0.488);
    border-radius: 10px;
    padding: 8px;
    max-width: 500px;
    margin-top: 2%;
}

#ytLogo {
    display: block;
    width: 150px;
    margin: auto;
    height: auto;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 1%;
}

#gridParent {
    background-color: rgba(65, 65, 65, 0.488);
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 3fr 1fr;
    margin: auto;
    margin-top: 1%;
    padding: 10px;
    border-radius: 20px;
}

.gChild {
    margin: auto;
    font-family: "Roboto";
    font-weight: 200;
    text-align: center;
    color: rgb(237, 236, 236);
    font-size: 1.1rem;
}

.YTcomments {
    grid-row-start: 3;
}

#timeInput {
    height: 1.5rem;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

#submitTime {
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
    margin-top: 5px;
    border-radius: 5px;
}

.toggle {
    width: 30px;
    height: 30px;
}