@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    width: 200px;
    height: 300px;
    background-color: #1a1818;
    color: rgb(215, 213, 213);
    font-family: "Roboto";
    font-size: 1rem;
}

#goToLandingPage {
    background-color: #302f2f;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 1rem;
    width: 100px;
    color: rgb(215, 213, 213);
    box-shadow: 2px 2px 2px 2px black;
    transition: transform 0.2s;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

#break {
    background-color: #302f2f;
    padding: 5px;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 1rem;
    width: 100px;
    color: rgb(215, 213, 213);
    box-shadow: 2px 2px 2px 2px black;
    margin: auto;
    text-align: center;
    transition: transform 0.2s;
}

#break:hover {
    transform: translateY(-2px);
}

#goToLandingPage:hover {
    transform: translateY(-2px);
}

a {
    text-decoration: none;
}

#timeSettings {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(46, 43, 43);
    padding: 10px;
    border-radius: 10px;
}

#timeText {
    margin-bottom: 10px;
}

#timeInput {
    height: 1.5rem;
    width: 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px; 
    position: relative;
    bottom: 10px;
    padding-left: 7px;
}

#submitTime {
    width: auto;
    height: 1.5rem;
    background-color: grey;
    color: black;
    border-radius: 5px;
    position: relative;
    bottom: 3px;
}

#submitTime:hover {
    background-color: rgb(184, 184, 184);
}

#submitTime:active {
    background-color: rgb(82, 82, 82);
}

#currentTime {
    color: rgb(152, 149, 149);
}

#quitYt {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(46, 43, 43);
    padding: 10px;
    border-radius: 10px;
}

#quitInput {
    width: 20px;
    height: 20px;
}
