@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    display: border-box;
    font-family: Inter;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
}

.grid_parent {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 2px solid;

    width: 80%;
    height: 55%;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(8, 5fr);

}

.wait_text {
    grid-area: 2 / 1 / 3 / 6;
    text-align: center;
}

.countdown {
    grid-area: 1 / 2 / 2 / 5;
    text-align: center;
    font-size: 4rem;
}

.exit {
    grid-area: 3 / 3 / 4 / 4;
    border: grey 3px solid;
    border-radius: 5px;;
    height: 50px;
    font-size: 1.1rem;
    transition: transform 0.2s;
}

.exit:hover {
    background-color: rgb(2, 219, 2);
    transform: translateY(-5px);
    box-shadow: 0px 0px 6px 2px green;
    border: rgb(5, 89, 20) 3px solid;
}

#proceed {
    grid-area: 6 / 3 / 7 / 4;
    border: grey 3px solid; 
    border-radius: 5px;
    height: 50px;
    font-size: 1.1rem;
    visibility: hidden;
    transition: transform 0.2s;
}

#proceed:hover {
    background-color: rgb(223, 41, 41); 
    transform: translateY(-5px);
    box-shadow: 0px 0px 6px 2px red; 
    border: rgb(160, 6, 34) 3px solid; 
}
